Source: bunsen-pipemenus
Section: misc
Priority: optional
Maintainer: John Crawley <john@bunsenlabs.org>
Build-Depends: debhelper (>= 10), help2man, lua5.2, lua-posix, lua-socket, lua-penlight, python, python-paramiko
Standards-Version: 4.3.0
Homepage: https://github.com/BunsenLabs/bunsen-pipemenus
Vcs-Git: https://github.com/BunsenLabs/bunsen-pipemenus.git
Vcs-Browser: https://github.com/BunsenLabs/bunsen-pipemenus

Package: bunsen-pipemenus
Architecture: all
Depends: ${misc:Depends}, bunsen-common, xterm | x-terminal-emulator, openbox, yad, wget, python, python-paramiko, mesa-utils, lua5.2, lua-expat, lua-penlight, lua-posix, lua-socket
Recommends: bunsen-configs, bunsen-utilities, bunsen-docs, bunsen-conky, tint2, compton, inotify-tools
Description: Various Openbox pipemenus
 Contains various Openbox pipemenus for use with Bunsen Linux.
