Source: bunsen-pipemenus
Section: misc
Priority: optional
Maintainer: John Crawley <john@bunsenlabs.org>
Build-Depends: debhelper-compat (= 13),
 help2man,
 lua5.2,
 lua-posix,
 lua-socket,
 lua-penlight,
 python3,
 python3-lxml,
 python3-paramiko
Rules-Requires-Root: no
Standards-Version: 4.6.1.0
Homepage: https://github.com/BunsenLabs/bunsen-pipemenus
Vcs-Git: https://github.com/BunsenLabs/bunsen-pipemenus.git
Vcs-Browser: https://github.com/BunsenLabs/bunsen-pipemenus

Package: bunsen-pipemenus
Architecture: all
Depends: ${misc:Depends},
 bunsen-common,
 jgmenu,
 lua5.2,
 lua-expat,
 lua-penlight,
 lua-posix,
 lua-socket,
 mesa-utils,
 python3,
 python3-lxml,
 python3-paramiko,
 wget,
 xterm | x-terminal-emulator,
 yad
Recommends: bunsen-configs (>= 11.3-1),
 bunsen-conky,
 bunsen-docs,
 bunsen-utilities (>= 11.1-1),
 inotify-tools,
 openbox,
 picom,
 tint2
Breaks: bunsen-utilities (<< 12.3-1)
Replaces: bunsen-utilities (<< 12.3-1)
Description: Various Openbox and jgmenu pipemenus
 Contains various pipemenus for use with Bunsen Linux.
 Some generate xml for openbox, and some csv for jgmenu.
 (jgmenu is able to use openbox-style xml too.)
 Also provides two scripts used by bl-kb-pipemenu:
  bl-xbk: parse xbindkeys keyboard shortcuts
  bl-kb: parse openbox keyboard shortcuts
